*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    color: #021206;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;
}

.col-3 {
    flex-basis: 25%;
    max-width: 25%;
    width: 25%;
    padding: 0px 15px;
}
.col-4 {
    flex-basis: 33.33%;
    max-width: 33.33%;
    width: 33.33%;
    padding: 0px 15px;
}
.col-5 {
    flex-basis: 41.666%;
    max-width: 41.666%;
    width: 41.666%;
    padding: 0px 15px;
}
.col-6 {
    flex-basis: 50%;
    max-width: 50%;
    width: 50%;
    padding: 0px 15px;
}

.title {
    font-size: 45px;
    font-weight: 600;
    line-height: 67.5px;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28.8px;
    opacity: 70%;
}

a {
    text-decoration: none;
    color: #021206;
}

ul {
    list-style: none;
}

.d-flex {
    display: flex;
}

.text-center {
    text-align: center;
}

.justify-end {
    justify-content: end;
}

.text-underline:hover {
    text-decoration: underline;
}

.text-line-through {
    text-decoration: line-through;
    opacity: 50%;
}

.btn {
    background-color:#F44545;
    padding: 15px 30px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #fff;
    cursor: pointer;
    border: 0;
}

.btn:hover {
    background-color:#F44545;
    color: rgb(208, 206, 206);
}

/* HEADER */
.header {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
}
.header .container {
    padding: 0px 15px;
    display: flex;
    align-items: center;
    background-color: #fff;
    justify-content: space-between;
}

.header__button {
    display: none;
}

.header__logo {
    margin-left: -65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__img {
    display: flex;
    align-items: center;
    margin-bottom: -25px;
}

.login {
    margin-right: 10px;
    background-color: #fff;
    color: #000;
    opacity: 70%;
}
.login:hover {
    background-color: #fff;
    color: rgb(28, 28, 28);
    text-decoration: underline;
}

.header__menu a {
    margin: 0px 20px;
    opacity: 50%;
}

.header__menu a:hover {
    text-decoration: underline;
}

/* DEVELOP */
.develop {
    margin: 110px 0px;
}

.develop .container {
    display: flex;
}

.btitle {
    font-size: 54px;
    font-weight: 600;
    line-height: 81px;
}

.btitle span {
    color: rgb(47, 232, 158);
}

.develop__text {
    font-size: 21px;
    font-weight: 400;
    line-height: 33.6px;
    opacity: 70%;
}

.develop__text span {
    font-weight: 500;
}

.form input {
    width: 470px;
    height: 80px;
    padding: 19px 24px;
    border-radius: 6px;
    border: 0;
    box-shadow: -2px 2px 5px 0px #02120626;
    margin: 30px 0px;
}

.develop__btn {
    margin-left: -123px;
}

.develop__card {
    display: flex;
    align-items: center;
}

.develop__box {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.logo {
    margin-right: 15px;
    font-size: 30px;
}

.develop__info {
    padding-bottom: 8px;
}

.develop__android {
    font-size: 8px;
}

.develop__store {
    font-size: 12px;
    font-weight: 400;
}

.develop__right {
    position: relative;
}

.laptop {
    margin-top: -30px;
    margin-left: -120px;
}

.free__laptop {
    display: none;
}

/* SPON */
.spon {
    background-color: #8ee6c922;
    padding: 50px 0px;
}

.spon__box {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* SOLUTION */
.solution {
    margin: 110px 0px;
}

.solution .container {
    display: flex;
    align-items: center;
}

.solution__left {
    display: flex;
    margin-left: 90px;
}

.solution__box  {
    padding: 25px;
    box-shadow: 0px 5px 15px 0px #414D4426;
    border-radius: 10px;
    border: 0.5px solid #ccc;
    margin: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 270px;
    height: 270px;
}

.setting {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF9A9A;
    border-radius: 10px;
    height: 75px;
    width: 75px;
    box-shadow: 1px 5px 30px 0px #D7151580;
} 
.user {
    background-color: #53D7AB80;
    box-shadow: 1px 5px 30px 0px #53D7AB80;
}
.securty {
    background-color: #EEB92A99;
    box-shadow: 1px 5px 30px 0px #EEB92A99;
}
.code {
    background-color: #E644D680;
    box-shadow: 1px 5px 30px 0px #E644D680;
}

.icon {
    color: #fff;
    font-size: 40px;
    margin-top: 17.5px;
}


.solution__title {
    font-size: 21px;
    font-weight: 600;
    padding: 25px 0px 9px;
}

.solution__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
}

.solution__info {
    margin-left: 170px;
}

.solution__info .title {
    margin-bottom: 20px;
}

.solution__btn {
    display: inline-block;
    background: #000;
    border: 0;
    margin-top: 20px;
    margin-right: 20px;
}

.solution__btn:hover {
    color: rgb(208, 206, 206);
    background-color: #000;
}

p span {
    font-weight: 500;
    color: #000;
}

.ask {
    color: #ef2d2d;
}

/* DISCOVER */
.discover .container {
    padding-top: 100px;
    display: flex;
}

.discover__info {
    margin-left: 70px;
}

.discover__text {
    margin-bottom: 20px;
    opacity: 70%;
}

.discover__icon {
    display: flex;
    align-items: center;
    background-color: #8BF9D5;
    border-radius: 50%;
    color: #fff;
    margin-right: 11px;
}

.discover__list li {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    opacity: 70%;
}

.discover__right {
    margin-top: -100px;
    margin-left: -150px;
}

.security .container {
    display: flex;
}

.security__img {
    margin-left: -70px;
    /* margin-top: -115px; */
}

.security__info {
    margin-left: 95px;
    margin-top: 115px;
}

.software {
    background-color: #8ee6c922;
    height: 527px;
    display: flex;
    align-items: center;
}

.software .container {
    display: flex;
    align-items: center;
}

.software__img {
    width: 750px;
    /* margin-top: -40px; */
    z-index: 1;
}

.software__btn {
    display: inline-block;
    margin-top: 30px;
}

/* PRICE */
.price {
    padding: 100px 0px;
}

.price__text {
    color: #4E5951;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 36px;
    margin-bottom: 17px;
    font-size: 20px;
    font-weight: 500;
    line-height: 16px;
}

.price__radio {
    display: flex;
    align-items: center;
    width: 58px;
    height: 30px;
    background-color: #4EDAAC;
    border-radius: 6px;
    margin: 0px 15px;
}

.price__radio span {
    margin-left: 35px;
    width: 17px;
    height: 16px;
    background-color: #fff;
    border-radius: 3px;
}

.price__save {
    font-size: 18px;
    font-weight: 600;
    line-height: 14.4px;
}

.price__img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.price__img img {
    margin-top: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 82px;
}

.price__horizontal-line{
    display: flex;
    align-items: center;
    width: 100%;
    height: 6px;
    border: 11px solid #F6F6F6;
    border-radius: 37px;
    margin-top: 10px;
}

.price__inside-of-line {
    display: flex;
    align-items: center;
    position: relative;
    width: 54%;
    border: 11px solid #4EDAAC;
    margin-left: -5px;
    border-radius: 37px;
    box-shadow: 1px 5px 30px 0px #53D7AB80;
}
.price__circle {
    position: absolute;
    margin-left: 99%;
    width: 25px;
    height: 25px;
    background-color: #4EDAAC;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 1px 5px 30px 0px #53D7AB80;
}

.price__box {
    display: flex;
}

.price__card {
    justify-content: space-between;
    margin: 88px 15px;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 361px;
    padding: 0;
}

.price__plan {
    padding: 30px 0px;
    font-size: 20px;
    font-weight: 600;
    line-height: 34px;
    opacity: 50%;
}

.price__price {
    font-size: 43px;
    font-weight: 600;
    line-height: 43px;
    margin-bottom: 30px;
}

.price__list {
   display: flex;
   align-items: center;
   padding: 20px;
   justify-content: space-between;
   border-top: 1px solid #ccc;
   border-bottom: 1px solid #ccc;
}

.price__icon {
    display: flex;
    align-items: center;
}

.price__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px 0px;
}

.price__btn {
    background-color: #fff;
    border: 1px solid #F44545;
    color: #000;
}

.price__btn:hover {
    background-color: #fff;
    color: rgba(68, 68, 68, 0.763);
}

/* FOOTER */
.footer {
    padding: 50px 0px;
    background-color: #8ee6c922;
}

.footer__logo {
    margin-top: -30px;
}

.footer__lists {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__list {
    position: relative;
}

.footer__text {
    position: absolute;
    top:  65px;
}

.footer__title {
    font-size: 21px;
    font-weight: 500;
    line-height: 31px;
    margin-bottom: 16px;
}

.footer__text {
    margin-left: 60px;
    flex-wrap: wrap;
}

.footer__list :last-child {
    margin-top: 10px;
}

@media only screen and (max-width:1024px) {

    .container {
        margin: 0px 30px;
        /* overflow: hidden; */
    }

    .title {
        font-size: 30px;
        line-height: 45px;
    }

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }

   .develop {
    padding: 60px 0px;
   }

    .laptop {
    margin-top: -40px;
    margin-left: -40px;
    max-width: 550px;
    }

   .phone {
    display: none;
    }

    .btitle {
        font-size: 45px;
        line-height: 60px;
    }

    .develop__text {
        font-size: 18px;
        line-height: 28px;
    }

    .form input {
        width: 400px;
        height: 60px;
    }
    
    .develop__btn {
        margin-left: -70px;
        padding: 10px;
        font-size: 16px;
    }

    .spon {
        padding: 40px 0px;
    }

    .solution__box  {
        width: 200px;
        height: 200px;
        padding: 20px;
    }

    .setting {
        height: 50px;
        width: 50px;
    } 

    .solution__title {
        font-size: 18px;
        font-weight: 600;
        padding: 18px 0px 9px;
    }

    .icon {
        color: #fff;
        font-size: 30px;
        display: flex;
        align-items:flex-start;
    }


    .solution__title {
        font-size: 18px;
        font-weight: 600;
        padding: 10px 0px;
    }
    
    .solution__text {
        font-size: 14px;
        font-weight: 300;
        line-height: 15px;
    }

    .solution__info {
        margin-left: 20px;
    }
    .security{
        padding: 50px 0px;
    }
    .discover  {
        padding: 0px;
        display: flex;
    }

    .discover .container {
        padding: 0px;
    }
    
    .discover__info {
        margin-left: 0;
    }

    .discover__right {
        margin-top: -20px;
        margin-left: -50px;
    }

    .discover__img {
        width: 550px;
        /* overflow: hidden; */
    }

    img {
        overflow: hidden;
    }

    .security {
        padding: 0;
    }

    .security__img {
        width: 550px;
        margin-left: -50px;
        margin-top: 90px;
    }

    .security__info {
        margin-left: 80px;
    }

    .software {
        display: flex;
        align-items: center;
        height: 400px;
    }

    .software__img {
        width: 600px;
        margin-top: 45px;
        margin-left: -80px;
    }
}

@media only screen and (max-width: 768px) {
    .display-none {
        display: none;
    }

    .title {
        font-size: 26px;
        line-height: 35px;
    }

    p {
        font-weight: 400;
        font-size: 15px;
        line-height: 20px; 
    }
    
    .header {
        padding: 15px 0px;
    }

    .header .container {
        padding: 0px;
    }

    .header__btn {
        padding: 10px;
        font-size: 18px;   
    }
    .header__logo {
        display: none;
    }

    .develop {
        margin: 30px 0px;
    }

    .btitle {
        font-size: 34px;
        line-height: 51px;
    }

    .develop__text {
        font-size: 18px;
        line-height: 25px;
    }

    .form input {
        width: 250px;
        height: 50px;
        padding: 15px 20px;
        margin: 20px 0px;
    }

    .develop__btn {
        margin: 0;
        padding: 8px;
    }

    .laptop {
        width: 450px;
        margin-top: 35px;
        margin-left: -80px;
    }

    .spon {
        padding: 30px 0px;
    }

    .spon__box a img {
        width: 130px;
    }

    .solution__box  {
        width: 170px;
        height: 170px;
        padding: 18px;
    }

    .setting {
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
    }

    .solution__left {
        margin-left: 0px;
    }

    .solution__title {
        font-size: 15px;
        font-weight: 500;
        padding: 5px 0px;
    }

    .icon {
        font-size: 20px;
        padding-bottom: 15px;
    }

    .solution__text {
        font-size: 12px;
        line-height: 15px;
    }

    .solution__btn {
        font-size: 16px;
        padding: 15px;
    }

    .discover {
        padding: 0;
    }

    .discover__right {
        width: 600px;
        margin-top: 0px;
        margin-right: 0px;
        margin-left: -130px;
    }

    .discover .container {
        margin: 0px 0px 0px 30px;
    }

    .discover__right {
        margin-top: -20px;
        /* margin-left: -50px; */
    }

    .discover__img {
        width: 500px;
        transform: translateX(40.21px);
    }

    .discover__text {
        margin: 15px 0px;
    }

    .discover__text br {
        display: none;
    }

    .discover__list li {
        margin-bottom: 10px;
        font-size: 15px;
        margin-left: -15px;
    }

    .security {
        padding: 0;
    }

    .security__img {
        width: 500px;
        /* padding-top: -100px; */
        margin-top: 0;
    }

    .security__info {
        margin-left: 50px;
        margin-top: 15px;
    }

    .software {
        margin-bottom: 50px;
    }

    .software .container {
        margin: 0px 0px 0px 30px;
    }

    .software__img {
        width: 500px;
        margin-top: 0px;
    }

    .price {
        padding: 80px 0px;
    }

    .price .container {
        margin: 0px 15px;
    }

    .price__inside-of-line {
        width: 57%;
        border: 11px solid #4EDAAC;
        margin-left: -10px;
        box-shadow: 1px 1px 10px 0px #53D7AB80;
    }

    .price__plan {
        padding: 15px 0px 5px;
        font-size: 18px;
    }

    .price__price {
        font-size: 28px;
        line-height: 33px;
        margin-bottom: 5px;
    }

    .price__icon {
        flex-wrap: nowrap;
        font-size: 13px;
    }

    .price__list {
        padding: 10px;
     }

     .price__btns {
        padding: 20px 0px;
    }

    .price__btns .btn {
        font-size: 16px;
        padding: 10px 15px;
    }

    .price {
        padding: 0px;
    }

    .footer {
        padding: 40px 0px;
    }

    .footer__text {
        margin-left: 0;
        top: 45px;
        font-size: 14px;
        line-height: 20px;
    }

    .footer__list :last-child {
        margin-top: 10px;
    }

    .footer__text br {
        display: none;
    }

    .footer__logo {
        margin-top: -50px;
        margin-left: -100px;
    }
}


@media only screen and (max-width: 600px) {
    .col-sm-12 {
        flex-basis: 100%;
        max-width: 100%;
        width: 100%;
        padding: 0px 15px;
    }

    .container {
        margin: 0px;
    }

    .header__menu {
        display: none;
    }

    .header__btn {
        font-size: 14px;
        padding: 8px;
    }

    .header__button {
        display: flex;
        align-items: center;
        height: 30px;
        width: 30px;
        background: unset;
        border: unset;
        margin-right: 15px;
    }

    .header__button span {
        width: 30px;
        height: 2px;
        background-color: #000;
        position: relative;
        display: block;
    }

    .header__button span:after,
    .header__button span:before {
        content: '';
        width: 100%;
        height: 2px;
        background-color: #000;
        position: absolute;
        top: -8px;
        left: 0;
        margin: auto;
    }
    
    .header__button span:after {
        top: 8px;
    }

    .develop {
        margin: 0;
        padding: 40px 0px;
    }

    .develop__right {
       display: none;
    }

    .develop__text, .btitle {
        text-align: center;
    }

    .develop__text br {
        display: none;
    }

    .btitle {
        font-size: 35px;
    }

    .develop__text {

    }

    .form input {
        width: 80%;
        height: 45px;
        margin: 20px auto;
       
    }

    .develop__card {
        margin-top: 10px;
        justify-content: center;
    }

    .spon {
        padding: 20px 0px;
    }

    .spon__box a img {
        width: 80px;
    }

    .solution .container {
        display: block;
    }

    .solution__left {
        justify-content: center;
        margin-bottom: 30px;
    }

    .solution__info a {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* .d-flex, .col-6
    .solution__info {
        position: relative;
        height: 200px;
        width: 100%;
    } */
/* 
    .free__laptop {
        display: flex;
        width: 380px;
        width: 100%;
        position: relative;
        top: -330px;
        z-index: -1;
    } */

    .price__box {
        flex-direction: column;
    }

    .display-none {
        display: flex;
    }

    .price__card {
        margin: 0px;
        margin-top: 0px;
        border-radius: 0;
        border: 0;
        padding: 0;
    }

    .price__list {
        border: 0;
     }

     .price__horizontal-line{
        border: 6px solid #F6F6F6;
    }
    
    .price__inside-of-line {
        width: 60%;
        border: 6px solid #4EDAAC;
        margin-left: -5px;
    }
    .price__circle {
        width: 20px;
        height: 20px;
    }
}
